@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout";
}

@using BasicAuthentication.ViewModels

@model LoginViewModel

<h2>Log into your account:</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.TextBoxFor(m => m.Password)

    <input type="submit" value="Log In" class="btn btn-default" />
}